* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070121;
}

.home-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box {
  position: relative;
  z-index: 2;
  /* keep image above the blob */
  text-align: center;
}

.img-box img {
  width: 350px;
  height: auto;
  position: relative;
  z-index: 2;
}

/* Blob container */
.lequid-shape {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 500px;
  z-index: 1;
  overflow: visible;
}

/* SVG blob */
.blob {
  width: 120%;
  height: 110%;
  filter: drop-shadow(0 0 40px #12f7ff);
}